/* You can add global styles to this file, and also import other style files */
@import '~carbon-components/scss/globals/scss/styles.scss';

body {
    height: 100%;
    width: 100%;
}

.bx--margin-bottom-0_5 {
    margin-bottom: 0.5rem;
}

.bx--margin-bottom-1 {
    margin-bottom: 1rem;
}